.header-container {
  background-color: $purple_color;
  button {
    background-color: $orange_color;
    @include change-font(400, $primary_font-size, 26.19px, $white_color, 0.27px);
    text-transform: uppercase;
    border-radius: 2px;
    padding: 20px 20px;
    width: 30%;
    cursor: pointer;
  }
  .nav-link {
    @include change-font(400, 16px, 18px, $white_color);
    text-transform: uppercase;
    &:hover, &:focus, &:active {
      background-color: $dark_purple_color;
    }
  }
  h2 {
    @include change-font(700, 42px, 48.82px, $main_header_font_color);
    padding: 20px 0;
  }
}
