/* Services section */
.services-container {
  background-color: $light_green_color;
  padding-bottom: 125px;
  h2 {
    @include change-font(700, $headline_font_size, $headline_line_height, $white_color, $headline_letter_spacing);
    padding: 95px 0 13px;
    text-transform: uppercase;
  }
  .gray-line {
    opacity: 0.15;
  }
  .under_headline {
    @include change-font(400, $primary_font_size, $primary_line_height, $white_color, .39px);
    padding: 10px 22% 75px;
  }
  .services_columns {
    h3 {
      @include change-font(700, 24px, 18px, $white_color, $primary_letter_spacing);
      padding: 50px 0 22px;
      text-transform: uppercase;
    }
    p {
      @include change-font(300, 16px, 24px, $white_color, $secondary_letter_spacing);
      padding: 0 25px;
    }
    &:nth-child(1) {
      img {
        margin: 6px 81px 5px;
      }
      h3 {
        padding: 50px 0 22px 13px;
      }
      p {
        padding: 0 10px 0 25px;
      }
    }
    &:nth-child(2) {
      img {
        margin: 0 91px 4px;
      }
      h3 {
        padding: 50px 0 22px 5px;
      }
      p {
        padding: 0 25px 0 32px;
      }
    }
    &:nth-child(3) {
      img {
        margin: 6px 0 4px -14px;
      }
      h3 {
        padding: 50px 6px 22px 0;
      }
      p {
        padding: 0 28px 0 22px;
      }
    }
    &:nth-child(4) {
      img {
        margin: 3px 0 -2px -21px;
      }
      h3 {
        padding: 50px 14px 22px 0;
      }
      p {
        padding: 0 37px 0 22px;
      }
    }
  }
}
/* Team section */
.team-container {
  background-color: $light_silver_color;
  padding-bottom: 126px;
  h2 {
    @include change-font(700, 41px, 30.87px, $primary_font_color, 3.4px);
    padding: 93px 0 15px;
    text-transform: uppercase;
  }
  .gray-line {
    background-color: #bdd1df;
    opacity: 0.75;
  }
  .under_headline {
    @include change-font(400, 19px, 26.84px, $primary_font_color, -0.05px);
    padding: 12px 15% 77px;
  }
  .team_column {
    h3 {
      @include change-font(700, 24px, 18px, $team_position_font_color, $primary_letter_spacing);
      text-transform: uppercase;
      padding: 34px 0 12px;
    }
    .position {
      @include change-font(400, 16px, 18px, $light_blue_color, 0.62px);
      padding-bottom: 22px;
    }
    p {
      @include change-font(300, 16px, 24px, $secondary_font_color, $secondary_letter_spacing);
      padding: 0 37px 28px 35px;
    }
    .link-holder {
      i {
        color: $white_color;
        border-radius: 50%;
        background-color: $gray_color;
        font-size: 16px;
        padding: 8px 5px 5px 5px;
        width: 32px;
        height: 32px;
        margin: 0 3px 0 5px;
      }
    }
    &:nth-child(2n-1) {
      padding-right: 0;
      padding-left: 16px;
    }
    &:nth-child(3n-1) {
      padding-right: 0;
      padding-left: 6px;
    }
    &:nth-child(4n-1) {
      padding-right: 5px;
      padding-left: 0;
      .position {
        padding: 0 35px 23px 35px;
      }
    }
    &:nth-child(5n-1) {
      padding-right: 16px;
      padding-left: 0;
      h3 {
        padding: 34px 0 12px 12px;
      }
      .position {
        padding: 0 23px 23px 35px;
      }
      p {
        padding: 0 23px 28px 35px;
      }
    }
  }
}
/* Skills section */
.skills-container {
  background-color: $white_color;
  padding-bottom: 53px;
  h2 {
    @include change-font(700, $headline_font_size, $headline_line_height, $primary_font_color, $headline_letter_spacing);
    padding: 92px 0 14px 5px;
    text-transform: uppercase;
  }
  .gray-line {
    background-color: #dfe8ed;
  }
  .under_headline {
    @include change-font(400, $primary_font_size, $primary_line_height, $primary_font_color, 0.41px);
    padding: 10px 23% 82px;
  }
  h3 {
    @include change-font(700, 24px, 18px, $primary_font_color);
    padding: 25px 0 70px;
    text-transform: uppercase;
  }
  .skills-column {
    &:nth-child(2n-1) {
      padding-right: 0;
      padding-left: 15px;
    }
    &:nth-child(3n-1) {
      padding-right: 0;
      padding-left: 4px;
    }
    &:nth-child(4n-1) {
      padding-right: 7px;
      padding-left: 0;
      h3 {
        letter-spacing: 0.45px;
      }
    }
    &:nth-child(5n-1) {
      padding-right: 16px;
      padding-left: 0;
    }
  }
}
/* Portfolio section */
.portfolio-container {
  background-color: $yellow_color;
  padding-bottom: 49px;
  h2 {
    @include change-font(700, $headline_font_size, $headline_line_height, $secondary_font_color, $headline_letter_spacing);
    padding: 95px 0 13px 5px;
    text-transform: uppercase;
  }
  .gray-line {
    background-color: #e5c37f;
  }
  .under_headline {
    @include change-font(400, $primary_font_size, $primary_line_height, $secondary_font_color, $secondary_letter_spacing);
    padding: 10px 23% 13px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .tabs {
    padding: 35px 0 70px;
    a {
      @include change-font(400, $primary_font_size, 19.5px, $secondary_font_color);
      padding: 5px 20px 6px;
      text-transform: uppercase;
      background-color: $black_color_withop;
      border-radius: 2px;
      margin: 0 5px 0 6px;
      &:hover, &:active, &:focus {
        background-color: $white_color;
      }
      &:nth-child(1) {
        padding: 5px 27px 6px 27px;
        margin: 0 0 0 8px;
      }
      &:nth-child(2) {
        padding: 5px 22px 6px 22px;
        margin: 0 0 0 9px;
      }
      &:nth-child(3) {
        padding: 5px 23px 6px 22px;
        margin: 0 5px 0 9px;
      }
      &:nth-child(4) {
        margin: 0 6px 0 5px;
      }
    }
  }
  h3 {
    @include change-font(400, $primary_font_size, 19.5px, $secondary_font_color, $secondary_letter_spacing);
    padding: 20px 0 60px;
    text-transform: uppercase;
  }
  button {
    @include change-font(400, $primary_font_size, 26.19px, $white_color, 0.27px);
    background-color: $light_green_color;
    text-transform: uppercase;
    padding: 22px 20px 18px 25px;
    width: 25.72%;
    margin: 21px auto 60px;
    cursor: pointer;
  }
  .portfolio_columns {
    &:nth-child(2n-1) {
      padding-left: 21px;
      padding-right: 9px;
      h3 {
        padding: 22px 0 60px;
      }
    }
    &:nth-child(2n) {
      padding: 3px 19px 0 11px;
      h3 {
        padding: 20px 5px 60px 0;
      }
    }
    &:nth-child(4n-1) {
      h3 {
        padding: 24px 18px 60px 0;
      }
    }
    &:nth-child(4n) {
      h3 {
        padding: 20px 0 60px 16px;
      }
    }
  }
}
/* Comments section */
.comments-container {
  background-color: $pink_color;
  h2 {
    @include change-font(700, $headline_font_size, $headline_line_height, $white_color, $headline_letter_spacing);
    text-transform: uppercase;
    padding: 94px 0 14px 5px;
  }
  .gray-line {
    opacity: 0.15;
  }
  .under_headline {
    @include change-font(400, $primary_font_size, $primary_line_height, $white_color, $secondary_letter_spacing);
    padding: 10px 23% 65px;
  }
  .comment-holder {
    .comment-text {
      @include change-font(400, 21px, 31.2px, $white_color, 0.35px);
      font-style: italic;
      padding: 2px 31px 5px 49px;
    }
    h3 {
      @include change-font(700, 24px, $primary_line_height, $white_color);
      padding: 17px 31px 5px 49px;
      text-transform: uppercase;
    }
    p {
      @include change-font(400, $primary_font_size, $primary_line_height, $yellow_color, $secondary_letter_spacing);
      padding: 0 31px 10px 49px;
    }
    &:last-child {
      margin-bottom: 40px;
    }
  }
  .comments-column {
    padding: 0 0 89px 21px;
    &:nth-child(2n) {
      padding-left: 39px;
    }
    &:nth-child(4n) {
      padding-left: 40px;
    }
    &:last-child {
      padding-bottom: 75px;
    }
    &:nth-last-child(2) {
      padding-bottom: 75px;
    }
  }
}
/* Contact section */
.contact-container {
  background-color: $dark_blue_color;
  padding-bottom: 110px;
  h2 {
    @include change-font(700, $headline_font_size, $headline_line_height, $white_color);
    text-transform: uppercase;
    padding: 90px 0 10px;
  }
  .gray-line {
    background-color: #273a71;
  }
  .under_headline {
    padding: 10px 15% 70px;
    a {
      @include change-font(400, $primary_font_size, $primary_line_height, $white_color, $secondary_letter_spacing);
      padding: 10px 0;
      &:hover, &:focus, &:active {
        color: $light_blue_color;
      }
    }
  }
  textarea, input {
    background-color: $purple_blue_color;
    @include change-font(400, $primary_font_size, 18px, $white_color);
    border: none;
    outline: none;
    border-radius: 2px;
    &::placeholder {
      @include change-font(400, $primary_font_size, 18px, $white_color);
    }
  }
  form {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    img {
      position: absolute;
      bottom: 137px;
      right: 8px;
    }
  }
  input {
    flex: 0 0 48.5%;
    max-width: 48.5%;
    padding: 10px;
    &:nth-child(2) {
      margin-left: auto;
    }
  }
  textarea {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px 0 60px;
    padding: 10px;
    &::-webkit-resizer {
      display: none;
    }
  }
  button {
    @include change-font(400, $primary_font_size, 26.19px, $white_color);
    background-color: $light_blue_color;
    text-transform: uppercase;
    padding: 20px 20px;
    width: 30%;
    cursor: pointer;
  }
}
