@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
  .contact-container {
    input {
      &::-webkit-input-placeholder {
        background: -webkit-linear-gradient(left, $white_color 0%, $white_color 23%, $red_color 0%, $red_color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    textarea {
      &::-webkit-input-placeholder {
        background: -webkit-linear-gradient(left, $white_color 0%, $white_color 13.5%, $red_color 0%, $red_color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
@media (max-width: 1140px) {
  .container {
    max-width: 1140px;
  }
  .services-container {
    .services_columns {
      &:nth-child(1) {
        padding-left: 15px;
        padding-right: 15px;
        img {
          margin: 0;
        }
      }
      &:nth-child(2) {
        padding-left: 15px;
        padding-right: 15px;
        img {
          margin: 0;
        }
        h3 {
          padding: 54px 0 22px;
        }

      }
      &:nth-child(3) {
        padding-left: 15px;
        padding-right: 15px;
        img {
          margin: 0;
        }
        h3 {
          padding: 54px 0 22px;
        }
      }
      &:nth-child(4) {
        padding-left: 15px;
        padding-right: 15px;
        img {
          margin: 0;
        }
        h3 {
          padding: 54px 0 22px;
        }
      }
    }
  }
  .team-container {
    .team_column {
      &:nth-child(2n-1) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:nth-child(3n-1) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:nth-child(4n-1) {
        padding-right: 15px;
        padding-left: 15px;
        .position {
          padding: 0 35px 23px 35px;
        }
      }
      &:nth-child(5n-1) {
        padding-right: 15px;
        padding-left: 15px;
        h3 {
          padding: 34px 0 12px;
        }
        .position {
          padding: 0 35px 23px 35px;
        }
        p {
          padding: 0 35px 23px 35px;
        }
      }
    }
  }
  .skills-container {
    .skills-column {
      &:nth-child(2n-1) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:nth-child(3n-1) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:nth-child(4n-1) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:nth-child(5n-1) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
.portfolio-container {
  .portfolio_columns {
    &:nth-child(2n-1) {
      padding-left: 15px;
      padding-right: 15px;
      h3 {
          padding: 20px 5px 60px 5px;
        }
      }
    &:nth-child(2n) {
      padding: 3px 15px 0 15px;
      h3 {
        padding: 20px 5px 60px 5px;
        }
      }
    &:nth-child(4n-1) {
      h3 {
        padding: 20px 5px 60px 5px;
        }
      }
    &:nth-child(4n) {
      h3 {
      padding: 20px 5px 60px 5px;
        }
      }
    }
  }
  .comments-container {
    .comments-column {
      padding: 0 15px 89px 15px;
      &:nth-child(2n) {
        padding-left: 15px;
        padding-right: 15px;
      }
      &:nth-child(4n) {
        padding-left: 15px;
        padding-right: 15px;
      }
      &:last-child {
        padding-bottom: 0;
      }
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
  }
  .contact-container {
    input {
      &::-webkit-input-placeholder {
        background: -webkit-linear-gradient(left, $white_color 0%, $white_color 27%, $red_color 0%, $red_color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    textarea {
      &::-webkit-input-placeholder {
        background: -webkit-linear-gradient(left, $white_color 0%, $white_color 15.5%, $red_color 0%, $red_color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
@media (max-width: 998px) {
  .header-container {
    .navbar-toggler {
      margin-bottom: 0;
      padding: 5px 10px;
      width: 7%;
      .navbar-toggler-icon {
        background-image: escape-svg($navbar-dark-toggler-icon-bg);
        fill: $white_color;
      }
    }
    .navbar {
      .navbar-nav {
        .nav-link {
          padding: 20px 15px 10px 15px;
          font-size: 21px;
        }
      }
    }
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
    button {
      width: 38.13%;
    }
  }
  .services-container {
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
    .services_columns {
      p {
        padding: 0 35px 25px;
      }
    }
  }
  .team-container {
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
    .link-holder {
      padding-bottom: 30px;
    }
  }
  .skills-container {
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
  }
  .portfolio-container {
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
    button {
      width: 41.72%;
    }
  }
  .comments-container {
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
    .comments-column {
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
  }
  .contact-container {
    h2 {
      font-size: 32px;
      letter-spacing: 2px;
    }
    button {
      width: 42.2%;
    }
    .container {
      input {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 38%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      textarea {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 21.5%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .header-container {
    .navbar-toggler {
      width: 14%;
    }
    button {
      width: 65.13%;
    }
    h2 {
      font-size: 28px;
      padding: 128px 0 55px;
      line-height: 36.82px;
    }
  }
  .services-container {
    h2 {
      font-size: 28px;
    }
    .under_headline {
      padding: 10px 0 75px;
    }
  }
  .team-container {
    h2 {
      font-size: 28px;
      line-height: 32px;
    }
    .under_headline {
      padding: 12px 0 77px;
    }
  }
  .skills-container {
    h2 {
      font-size: 28px;
    }
    .under_headline {
      padding: 10px 0 82px;
    }
  }
  .portfolio-container {
    h2 {
      font-size: 28px;
    }
    .under_headline {
      padding: 10px 0 13px;
    }
    .tabs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      a {
        padding: 5px 10px 5px 10px;
        margin: 0 5px 10px 5px;
        &:nth-child(1) {
          padding: 5px 10px 5px 10px;
          margin: 0 5px 10px 5px;
        }
        &:nth-child(2) {
          padding: 5px 10px 5px 10px;
          margin: 0 5px 10px 5px;
        }
        &:nth-child(3) {
          padding: 5px 10px 5px 10px;
          margin: 0 5px 10px 5px;
        }
        &:nth-child(4) {
          margin: 0 5px 10px 5px;
        }
      }
    }
    button {
      width: 70.72%;
    }
  }
  .comments-container {
    h2 {
      font-size: 28px;
      line-height: 32px;
    }
  }
  .contact-container {
    h2 {
      font-size: 28px;
    }
    .under_headline {
      padding: 10px 0 74px;
    }
    button {
      width: 75.2%;
      margin-top: 57px;
    }
    form {
      max-width: 100%;
      input, textarea {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px 0 0 0;
      }
    }
    .container {
      input {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 26.5%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      textarea {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 34.9%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .footer-container {
    a {
      padding: 33px 10px 33px;
    }
  }
}
@media (max-width: 420px) {
  .header-container .navbar-toggler {
    width: 16%;
  }
  .comments-container .comments-column {
    flex-wrap: wrap;
    padding: 0 15px 0px 15px;
    text-align: center;
    .comment-holder {
      flex: 0 0 100%;
      width: 100%;
    }
    h3 {
      padding: 10px 0;
    }
    .comment-text {
      padding: 5px 0;
    }
    p {
      padding: 5px 0;
    }
    &:nth-child(2n) {
      padding-left: 15px;
      h3 {
        padding: 15px 0;
      }
      .comment-holder {
        .comment-text {
          padding: 5px 0;
        }
        p {
          padding: 10px 0;
        }
      }
    }
    &:nth-child(4n-1) {
      h3 {
        padding: 15px 20px;
      }
    }
    &:nth-child(4n) {
      padding-left: 15px;
      h3 {
        padding: 15px 0;
      }
      .comment-holder {
        .comment-text {
          padding: 5px 0;
        }
        p {
          padding: 5px 0;
        }
      }
    }
    &:last-child, &:nth-last-child(2) {
      padding-bottom: 20px;
    }
    img {
      margin: 0 auto;
    }
  }
  .contact-container {
    .container {
      input {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 31.5%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      textarea {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 40.9%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .header-container .navbar-toggler {
    width: 20%;
  }
  .header-container button {
    width: 89.13%;
  }
  .portfolio-container button {
    width: 92.72%;
  }
  .comments-container .under_headline {
    padding: 10px 0 65px;
  }
  .contact-container .under_headline {
    padding: 10px 0 0;
  }
  .contact-container {
    .container {
      input {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 40%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      textarea {
        &::-webkit-input-placeholder {
          background: -webkit-linear-gradient(left, $white_color 0%, $white_color 49.9%, $red_color 0%, $red_color 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
