$primary_font_color: #3c4761;
$secondary_font_color: #393939;
$main_header_font_color: #f7f3ea;
$white_color: #fff;
$orange_color: #eb7d4b;
$purple_color: #87509c;
$dark_purple_color: #643a79;
$light_green_color: #17c2a4;
$light_silver_color: #e7f1f8;
$yellow_color: #ffdd99;
$pink_color: #d74680;
$light_blue_color: #30bae7;
$dark_blue_color: #3c5499;
$darker_blue_color: #344b8e;
$purple_blue_color: #273a71;
$headline_font_size: 40px;
$headline_line_height: 29.91px;
$main_font_size: 18px;
$main_line_height: 26px;
